{% extends 'base.html' %}

{% block content %}
  <h2>Login</h2>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
    <div class="mb-4">
        <label for="{{ field.id_for_label }}" class="block text-gray-700">{{ field.label }}:</label>
        <input type="{{ field.field.widget.input_type }}" id="{{ field.id_for_label }}" name="{{ field.html_name }}"
         class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight
          focus:outline-none focus:shadow-outline">
    </div>
    {% endfor %}
    <button class="bg-blue-500 hover:bg-blue-700 
    text-white font-bold py-2 px-4 rounded focus:outline-none
     focus:shadow-outline" type="submit">Login</button>
  </form>
{% endblock %}